.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 100%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-4-of-4 {
    width: calc( 4 * ((100% - 3 * 3rem) / 4) + 3rem); }

/*
0-600 px:    600px
600-900p px:    Tablet portrait
900-1200 px;    Tablet landscape
1200 - 1800 px: Normal Styles
1800px; Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px


ORDER: Base + Typography > general layout + grid > page layout > components
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: scroll; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 23.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  box-sizing: border-box;
  width: 100%; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.push {
  margin-left: auto; }

.tcenter {
  text-align: center; }

.rmargin-bottom {
  margin-bottom: 0 !important; }

.hspace {
  height: 3.5rem; }

.bold {
  font-weight: 700; }

.colorize {
  color: #0bcdfc; }

.underline {
  text-decoration: underline; }

.iphone {
  margin-top: -2rem;
  padding-left: 25%; }
  @media only screen and (max-width: 37.5em) {
    .iphone {
      display: inline-block;
      padding-left: 0;
      margin: 0 auto; } }

.macbook {
  display: inline-block;
  min-width: 100%;
  width: 78rem;
  height: 44.9rem; }

.mockup-box {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .mockup-box {
      margin-top: 8rem;
      width: 82.5%;
      height: auto; } }

.container {
  position: relative;
  width: 100%;
  padding-bottom: 11rem; }

.main {
  height: 100%;
  width: 100%; }

.nactive {
  color: #0bcdfc !important;
  font-weight: 500 !important; }

.nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 9999; }
  .nav__navbar {
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .nav__navbar {
        width: 100%; } }
  .nav__logo--link {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 2.5rem; }
      @media only screen and (max-width: 37.5em) {
        .nav__item:not(:last-child) {
          display: none; } }
  .nav__link {
    color: #333333;
    display: inline-block; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.6rem;
    text-decoration: none; }
  .nav__link:hover {
    color: #0bcdfc; }
  .nav__link:active {
    transform: translateY(0.1rem);
    transition: 0.2s; }

.header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      flex-wrap: wrap;
      height: auto; } }
  .header__text-box {
    max-width: 51.1rem; }
  .header__header {
    background-color: #e8fdff;
    height: 100%; }
    @media only screen and (max-width: 75em) {
      .header__header {
        height: auto; } }
  .header__primary {
    display: flex;
    flex-wrap: wrap;
    width: 55.1rem;
    height: auto; }
    @media only screen and (max-width: 75em) {
      .header__primary {
        width: 100%; } }
    .header__primary > * {
      margin-bottom: 3rem; }
    .header__primary--main {
      font-size: 7.2rem;
      font-weight: 700; }
      @media only screen and (max-width: 75em) {
        .header__primary--main {
          font-size: 6.2rem; } }
    .header__primary--sub {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 3.5rem; }
      @media only screen and (max-width: 56.25em) {
        .header__primary--sub {
          font-size: 2.9rem; } }
    .header__primary--sub2 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 3.5rem; }
      @media only screen and (max-width: 23.5em) {
        .header__primary--sub2 {
          font-size: 2.5rem;
          font-weight: 400; } }
    .header__primary--sub3 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 3.2rem; }
  @media only screen and (max-width: 75em) {
    .header__text-box {
      width: 40%; } }
  @media only screen and (max-width: 56.25em) {
    .header__text-box {
      width: 90%; } }
  .header__video-box {
    width: auto;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .header__video-box {
        width: 100%;
        margin-top: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__video-box {
        display: none; } }
    .header__video-box--wrapper {
      width: 100%;
      height: auto; }
    .header__video-box--video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78rem;
      height: 44.9rem;
      background-image: url(../img/macbook.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* override other styles to make responsive */ }
      @media only screen and (max-width: 56.25em) {
        .header__video-box--video {
          width: 100%; } }
      .header__video-box--video--inside {
        width: 51.6rem !important;
        height: 34.4rem !important; }
  .header__reference-box {
    width: 100%;
    margin-top: 3.5rem; }
    .header__reference-box--img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: safe center;
      align-content: center;
      align-items: center; }
    .header__reference-box--rectangle {
      display: inline-block;
      width: auto;
      height: auto; }
      .header__reference-box--rectangle:not(:last-child) {
        margin-right: 2rem; }

.heading-primary {
  width: 55.1rem;
  color: #333333;
  margin-bottom: 5.5rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.11;
    margin-bottom: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub2 {
    display: block;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
    animation: moveInBottom 0.4s ease-out 0.75s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub2 {
        font-weight: 400; } }
    @media only screen and (max-width: 23.5em) {
      .heading-primary--sub2 {
        font-size: 2.5rem;
        padding: 5%; } }
  .heading-primary--sub3 {
    display: block;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;
    animation: moveInBottom 0.8s ease-out 1s;
    animation-fill-mode: backwards; }

.section-first {
  height: 100%;
  background-color: #fff;
  padding-top: 5%;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 37.5em) {
    .section-first {
      margin-bottom: 2.5rem; } }

.section-second {
  background-color: #e8fdff; }
  .section-second__text-box {
    padding: 25% 0; }
    @media only screen and (max-width: 37.5em) {
      .section-second__text-box {
        padding: 0; } }

.section-third {
  margin-top: 3.5rem; }
  .section-third__text-box {
    padding: 25% 0; }
    @media only screen and (max-width: 37.5em) {
      .section-third__text-box {
        padding: 5%; } }

.section-fourth {
  padding-top: 10vh; }
  .section-fourth__text--box--header {
    border: 0.1rem solid #0bcdfc; }

.section-fifth {
  padding-top: 10vh; }

.heading-secondary--main {
  font-size: 5.6rem;
  max-width: 435rem;
  display: block;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 3rem;
  animation-name: moveInLeft;
  animation-duration: 0.8s;
  animation-timing-function: ease-out; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary--main {
      margin-bottom: 0;
      padding: 5%; } }

.main__heading {
  display: flex;
  width: 100%; }
  .main__heading-secondary {
    padding: 0 5%; }

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.circleimg {
  transform: translateY(-25%); }

.main__text-box2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.33;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  order: 5;
  padding: 10% 0; }

.main__text-box {
  font-size: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start; }
  @media only screen and (max-width: 23.5em) {
    .main__text-box {
      padding: 5%;
      margin-top: 10%;
      font-size: 2.5rem; } }
  .main__text-box--circle {
    position: relative;
    min-width: 8rem;
    height: 8rem;
    border: solid 0.1rem #0bcdfc;
    border-radius: 10rem;
    margin-right: 1.7rem; }
    @media only screen and (max-width: 37.5em) {
      .main__text-box--circle {
        min-width: 10rem;
        height: 10rem; } }
    @media only screen and (max-width: 23.5em) {
      .main__text-box--circle {
        width: 11rem;
        height: 11rem; } }
    .main__text-box--circle--img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto; }
      .main__text-box--circle--img > img {
        display: inline;
        text-align: center;
        vertical-align: middle; }
    .main__text-box--circle--number {
      position: absolute;
      width: 3.6rem;
      height: 3.6rem;
      top: 75%;
      left: 50%;
      background-color: #0bcdfc;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff; }
  .main__text-box--heading {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .main__text-box--heading {
        align-items: flex-start; } }
    @media only screen and (max-width: 37.5em) {
      .main__text-box--heading {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap; } }
    .main__text-box--heading--sub {
      display: flex;
      align-items: center;
      margin-bottom: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .main__text-box--heading--sub {
          width: 100%;
          flex-direction: column;
          align-items: flex-start; } }
    .main__text-box--heading--sub2 {
      display: flex;
      align-items: center;
      margin-bottom: 3.7rem; }
      @media only screen and (max-width: 37.5em) {
        .main__text-box--heading--sub2 {
          width: 100%;
          flex-direction: column;
          align-items: flex-start; } }
    .main__text-box--heading--sub3 {
      display: flex;
      align-items: center;
      margin-bottom: 3.7rem; }
      @media only screen and (max-width: 37.5em) {
        .main__text-box--heading--sub3 {
          width: 100%;
          flex-direction: column;
          align-items: flex-start; } }
    .main__text-box--heading--sub4 {
      display: flex;
      flex: 1 auto;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        .main__text-box--heading--sub4 {
          width: 100%;
          flex-direction: column;
          align-items: flex-start; } }
  @media only screen and (max-width: 37.5em) {
    .main__text-box--header {
      margin-top: 3rem; } }

.h1-section {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 3rem; }

.quotebox__wrap {
  width: auto;
  height: 100%; }

.quotebox {
  max-width: 100%;
  height: 43.5rem;
  border-radius: 0.7rem;
  background-color: #0bcdfc; }
  .quotebox__img {
    width: 100%;
    height: auto; }
    .quotebox__img--medium {
      width: 100%;
      height: auto;
      overflow: hidden; }
      @media only screen and (max-width: 56.25em) {
        .quotebox__img--medium {
          width: 100%;
          height: auto; } }
  .quotebox__quote {
    position: absolute;
    color: #fff;
    font-size: 10rem;
    height: 18.6rem;
    padding-left: 3rem;
    font-weight: 700; }
  .quotebox__text {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 2.4rem;
    height: 100%; }
    .quotebox__text--text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 3rem; }
  .quotebox__bottom {
    font-size: 1.6rem;
    font-weight: 300;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
    padding: 3rem; }
    .quotebox__bottom--institut {
      font-size: 1.2rem; }
    .quotebox__bottom > span {
      display: block; }

.heading-third:not(:last-child) {
  padding: 0; }

.heading-fourth__text-box {
  font-size: 2rem;
  padding: 0.5rem 1rem; }
  .heading-fourth__text-box:not(:last-child) {
    margin-bottom: 1.9rem; }

.group-image {
  height: 58.3rem;
  width: auto;
  display: flex;
  justify-content: center;
  justify-items: safe center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .group-image {
      display: flex;
      justify-items: center;
      align-items: center; } }
  .group-image__box {
    position: relative;
    width: 34.2rem;
    height: 33.5rem;
    border: 1px dashed #e8fdff;
    border-radius: 50%; }
    @media only screen and (max-width: 56.25em) {
      .group-image__box {
        width: auto;
        height: auto; } }
  .group-image__box > a {
    color: #333333;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25rem;
    height: 2rem; }
  .group-image__image {
    width: 100%; }

.deg0 {
  transform: translate(12rem); }

.deg45 {
  transform: rotate(38deg) translate(12rem) rotate(-38deg); }

.deg90 {
  margin-left: -37.5%;
  transform: rotate(90deg) translate(17rem) rotate(-90deg); }

.deg135 {
  margin-left: -75%;
  transform: rotate(135deg) translate(12rem) rotate(-135deg); }

.deg180 {
  width: 15rem !important;
  margin-left: -45%;
  transform: rotate(180deg) translate(12rem) rotate(-180deg); }

.deg225 {
  margin-left: -75%;
  transform: rotate(225deg) translate(12rem) rotate(-225deg); }

.deg270 {
  margin-left: -35%;
  transform: rotate(270deg) translate(20.5rem) rotate(-270deg); }

.deg315 {
  transform: rotate(315deg) translate(13rem) rotate(-315deg); }

.paragraph {
  font-size: 2rem;
  padding-bottom: 3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.reference-box {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.section__impressum {
  padding-top: 15vh;
  margin-top: 2.5%; }
  .section__impressum--header {
    font-size: 3.2rem;
    margin-bottom: 8rem; }
  .section__impressum--sub {
    font-size: 1.6rem;
    margin-bottom: 2.4rem; }
  .section__impressum--paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
  .section__impressum--list {
    font-size: 1.6rem;
    margin-bottom: 2rem; }

.inline-link:link,
.inline-link:visited {
  color: #0bcdfc;
  text-decoration: underline; }

.inline-link:hover {
  color: #0bcdfc; }

.inline-link:active {
  color: #0bcdfc; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  position: relative;
  border-radius: 0.3rem;
  border: 0.1rem solid #0bcdfc;
  backface-visibility: hidden; }
  @media only screen and (max-width: 23.5em) {
    .btn:link, .btn:visited {
      font-size: 2.5rem;
      font-weight: 400; } }

.btn:hover {
  color: #fff;
  background-color: #0bcdfc;
  transform: translateY(-3px);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: 0.2s; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: 0.1s; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s; }

.btn--default {
  background-color: #e8fdff;
  color: #0bcdfc; }
  @media only screen and (max-width: 37.5em) {
    .btn--default {
      display: none !important; } }

.btn--bestellen {
  color: #fff;
  background-color: #0bcdfc;
  width: auto;
  text-align: center;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .btn--bestellen {
      width: 100%; } }

.btn--nav {
  color: #fff;
  background-color: #0bcdfc;
  width: auto; }

.btn--animated {
  animation: moveInBottom 1s ease-out 1.25s;
  animation-fill-mode: backwards; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  background-color: #333333;
  width: 100%;
  padding: 2rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer__logo-box {
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .footer__logo-box {
      text-align: center; } }
  .footer__logo-box--link:link, .footer__logo-box--link:visited {
    font-size: 3.2rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__logo-box--logotext-left {
    font-weight: 200; }

.footer__navigation {
  height: 4.3rem;
  padding: 0.7rem; }

.footer__list {
  list-style: none;
  text-align: right; }
  @media only screen and (max-width: 56.25em) {
    .footer__list {
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .footer__list {
      text-align: center; } }

.footer__item {
  display: inline-block; }
  .footer__item:not(:last-child) {
    margin-right: 1rem; }

.footer__link:link, .footer__link:visited {
  color: #fff;
  text-decoration: none; }
