.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 1rem;
}

.row .col-1-of-2 {
  width: calc((100% - 1rem) /2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 1rem) /3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 1rem) /3) + 1rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 1rem) /4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 1rem) /4) + 1rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 1rem) /4) + 1rem);
}

.row .col-4-of-4 {
  width: calc(4 * ((100% - 3 * 1rem) /4) + 1rem);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.hspace {
  height: 3.5rem;
}

.bold {
  font-weight: 700;
}

.container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  height: 100vh;
  background-color: #e8fdff;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__video-box {
  width: 71rem;
  height: 41.8rem;
  background-image: url(../img/macbook.png);
  background-size: cover;
  background-position: top;
}

.header__reference-box {
  display: inline-block;
  position: absolute;
}

.header__reference-box--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__reference-box--img > img:not(:last-child) {
  margin-right: 3.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-primary {
  max-width: 55.1rem;
  color: #333333;
  margin-bottom: 5.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  display: block;
  font-size: 7.2rem;
  font-weight: 700;
  overflow: hidden;
  line-height: 1.11;
  margin-bottom: 1.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary--sub2 {
  display: block;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  -webkit-animation: moveInBottom .4s ease-out .75s;
          animation: moveInBottom .4s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.heading-primary--sub3 {
  display: block;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  -webkit-animation: moveInBottom .8s ease-out 1s;
          animation: moveInBottom .8s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.section-howitworks {
  background-color: #fff;
  padding: 20rem 0;
  height: 100vh;
}

.heading-secondary--main {
  font-size: 5.6rem;
  max-width: 435rem;
  display: block;
  font-weight: 700;
  overflow: hidden;
  line-height: 1.11;
  margin-bottom: 4.7rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.main__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  margin: auto;
}

.main__text-box--circle {
  display: inline-block;
  min-width: 8rem;
  height: 8rem;
  border: solid 0.1rem #0bcdfc;
  border-radius: 10rem;
  margin-right: 1.7rem;
}

.main__text-box--heading {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.main__text-box--heading--sub {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.main__text-box--heading--sub2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.main__text-box--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.reference-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 3.5rem 0;
}

.btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  position: relative;
  border-radius: 0.3rem;
  border: 0.1rem solid #0bcdfc;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn:hover {
  color: #fff;
  background-color: #0bcdfc;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn::after:not(:hover) {
  background-color: #e8fdff;
}

.btn--default {
  background-color: #e8fdff;
  color: #0bcdfc;
}

.btn--default::after {
  opacity: 0;
  background-color: #0bcdfc;
}

.btn--bestellen {
  color: #fff;
  background-color: #0bcdfc;
  width: 31.5rem;
  text-align: center;
  margin-bottom: 9rem;
}

.btn--animated {
  -webkit-animation: moveInBottom 1s ease-out 1.25s;
          animation: moveInBottom 1s ease-out 1.25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
/*# sourceMappingURL=main.css.map */