//IMPORTS
@import "layout/grid";

//COLORS

$color-primary: #0bcdfc;
$color-primary-light: #e8fdff;
$color-primary-grey: #333333;
$color-white: #fff;
$color-black: #000;

//OTHER VARIABLES

$default-font-size: 1.6rem;
$text-bold: 700;
$hspace: 3.5rem;
$rmargin-bottom: 0 !important;

//MIXINS

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//-- MEDIA QUERY MANAGER MIXIN
/*
0-600 px:    600px
600-900p px:    Tablet portrait
900-1200 px;    Tablet landscape
900-1024
1200 - 1800 px: Normal Styles
1800px; Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
- laptop

1em = 16px


ORDER: Base + Typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == xphone {
    @media only screen and (max-width: 23.5em) {
      @content; // 375px
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content; // 600px
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content; //900px
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 64em) {
      @content; //1024px
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content; // 1200px
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content; //1800+ px
    }
  }
}

//KEYFRAMES

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//OTHER

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines 1rem
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    //width < 1200?
    font-size: 62.25%; //1 em = 9px, 9/16 = 56.25%
  }

  @include respond(laptop) {
    // width < 1024?
    font-size: 50%; //1 em = 4px, 4/16 = 25%
  }

  @include respond(tab-port) {
    //width < 900?
    font-size: 60%; // 1em = 9px, 9/16 = 60%
  }

  @include respond(phone) {
    //width < 600?
    font-size: 50%; //1 em = 5px
  }

  @include respond(xphone) {
    // width < 375?
    font-size: 40%; //1 em = 4px, 4/16 = 25%
  }

  @include respond(big-desktop) {
    font-size: 62.5%;
  }
  overflow-y: scroll;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: $color-primary-grey;
  box-sizing: border-box;
  width: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.push {
  margin-left: auto;
}

.tcenter {
  text-align: center;
}

.rmargin-bottom {
  margin-bottom: $rmargin-bottom;
}

.hspace {
  height: $hspace;
}

.bold {
  font-weight: $text-bold;
}

.colorize {
  color: $color-primary;
}

.underline {
  text-decoration: underline;
}

.iphone {
  margin-top: -2rem;
  padding-left: 25%;

  @include respond(xphone) {
  }

  @include respond(phone) {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
  }
}

.macbook {
  max-width: 100%;
  height: auto;

  @include respond(tab-land) {
    //width: 68rem;
  }
}

.mockup-box {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 4rem;

  @include respond(phone) {
    margin-top: 8rem;
    width: 82.5%;
    height: auto;
  }
}

.container {
  position: relative;
  width: 100%;
  padding-bottom: 11rem;
}

.main {
  height: 100%;
  width: 100%;

  &__heading-video {
    margin-top: 2rem;
  }
}

//NAVIGATION

.nav {
  background-color: $color-white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);

  z-index: 9999;

  &__navbar {
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin: 0 auto;

    @include respond(phone) {
      max-width: 95%;
    }

    @include respond(laptop) {
    }

    @include respond(tab-land) {
      max-width: 100%;
      padding: 0 2rem;
    }
  }

  &__logo {
    &--link {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2.5rem;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &__link {
    color: $color-primary-grey;
    display: inline-block;
  }
  &__link:link,
  &__link:visited {
    font-size: $default-font-size;
    text-decoration: none;
  }
  &__link:hover {
    color: $color-primary;
  }

  &__link:active {
    transform: translateY(0.1rem);
    transition: 0.2s;
  }
}

.header {
  max-width: 120rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  padding-top: 5rem;

  //clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(tab-port) {
    flex-direction: column;
    padding: 0;
  }

  @include respond(tab-land) {
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
  }

  &__text-box {
    flex: 1 0 50%;

    @include respond(tab-port) {
      display: inline-block;
      padding: 5%;
    }

    @include respond(tab-land) {
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary-light;
    height: 100%;

    @include respond(tab-land) {
    }
  }

  &__primary {
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    height: auto;

    @include respond(tab-land) {
      width: 100%;
    }

    & > * {
      margin-bottom: 3rem;
    }

    &--main {
      font-size: 6rem;
      font-weight: 700;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(tab-land) {
        font-size: 6.2rem;
      }

      @include respond(laptop) {
        font-size: 5.2rem;
      }

      @include respond(tab-port) {
        font-size: 7.2rem;
      }

      @include respond(phone) {
      }
    }

    &--sub {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 3.5rem;

      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(laptop) {
        font-size: 2.5rem;
      }

      @include respond(tab-port) {
        font-size: 3.2rem;
      }
    }

    &--sub2 {
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 3.5rem;

      animation: moveInBottom 0.75s ease-out 1s;
      animation-fill-mode: backwards;

      @include respond(xphone) {
        font-size: 2.5rem;
        font-weight: 400;
      }

      @include respond(tab-port) {
        font-size: 3rem;
        line-height: 1.7;
      }

      @include respond(laptop) {
        font-size: 2.2rem;
      }
    }

    &--sub3 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 3.2rem;

      animation: moveInBottom 1s ease-out 1s;
      animation-fill-mode: backwards;

      @include respond(laptop) {
      }

      @include respond(tab-port) {
        font-size: 2.2rem;
      }
    }
  }

  &__video-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    height: auto;
    margin-top: -2.5rem;

    @include respond(phone) {
      display: none;
    }

    @include respond(tab-port) {
      width: 100%;
      margin-top: 6rem;
      display: none;
    }

    @include respond(laptop) {
    }

    @include respond(tab-land) {
    }

    &--video {
      min-width: 100%;
    }

    &--image {
      width: 100%;

      animation: moveInBottom 2s ease-out 1s;
      animation-fill-mode: backwards;
      @include respond(tab-land) {
      }
    }
  }

  &__reference-box {
    width: 100%;
    margin: 3.5rem 0;

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
    }

    &--text {
      display: inline-block;
      color: $color-primary-grey;
      font-size: 1.2rem;
      font-weight: 700;
    }
    &--img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: safe center;
      align-content: center;
      align-items: center;

      @include respond(tab-port) {
        flex-direction: column;
      }
    }

    &--rectangle {
      display: inline-block;
      max-width: 100%;
      height: auto;

      @include respond(tab-port) {
      }

      &:not(:last-child) {
        margin-right: 2rem;

        @include respond(tab-port) {
          margin-right: 0;
        }
      }
    }
  }
}

.heading-primary {
  width: 55.1rem;
  color: $color-primary-grey;
  margin-bottom: 5.5rem;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.11;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.5rem;

    animation: moveInBottom 0.4s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--sub2 {
    display: block;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;

    animation: moveInBottom 0.4s ease-out 0.75s;
    animation-fill-mode: backwards;

    @include respond(phone) {
      font-weight: 400;
    }

    @include respond(xphone) {
      font-size: 2.5rem;
      padding: 5%;
    }
  }

  &--sub3 {
    display: block;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;

    animation: moveInBottom 0.8s ease-out 1s;
    animation-fill-mode: backwards;
  }
}

//SECTIONS

.section-first {
  height: 100%;
  background-color: $color-white;
  padding-top: 5%;
  margin-bottom: 15rem;

  @include respond(phone) {
    margin-bottom: 2.5rem;
  }

  @include respond(tab-land) {
    margin-bottom: 8rem;
  }
}

.section-second {
  background-color: $color-primary-light;

  &__text-box {
    padding: 25% 0;

    @include respond(phone) {
      padding: 0;
    }
  }
}

.section-third {
  &__text-box {
    @include respond(phone) {
      padding: 5%;
    }
  }
}

.section-fourth {
  padding-top: 10vh;
  &__text--box {
    &--header {
      border: 0.1rem solid $color-primary;
    }
  }
}

.section-fifth {
  padding-top: 10vh;
}

.heading-secondary {
  &--main {
    font-size: 5.6rem;
    max-width: 435rem;
    display: block;
    font-weight: 700;
    line-height: 1.11;
    margin-bottom: 3rem;

    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      margin-bottom: 0;
      padding: 5%;
    }
  }
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circleimg {
  transform: translateY(-25%);
}

.main__text-box2 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1.33;

  @include respond(tab-port) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.main__text-box {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-content: space-between;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  @include respond(xphone) {
    padding: 5%;
    margin-top: 10%;
    font-size: 2.5rem;
  }

  &--circle {
    display: inline-block;
    position: relative;
    flex-basis: 8rem;
    height: 8rem;
    margin-right: 1rem;
    border: solid 0.1rem $color-primary;
    border-radius: 10rem;

    & > img {
      display: inline-block;
      height: auto;
    }

    @include respond(tab-port) {
      flex: 1;
      padding: 2%;
    }

    @include respond(phone) {
      min-width: 10rem;
      height: 10rem;
    }

    @include respond(xphone) {
      width: 11rem;
      height: 11rem;
    }

    &--img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;

      & > img {
        display: inline;
        text-align: center;
        vertical-align: middle;
      }
    }

    &--number {
      position: absolute;
      width: 3.6rem;
      height: 3.6rem;
      top: 75%;
      left: 50%;
      background-color: $color-primary;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }

  &--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-basis: 100%;

    @include respond(tab-port) {
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
    }

    &--first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: none;
      }
    }

    @include respond(phone) {
    }

    @include respond(phone) {
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--sub {
      @include respond(phone) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &--sub2 {
      @include respond(phone) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &--sub3 {
      margin-bottom: 3.7rem;

      @include respond(phone) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &--sub4 {
      display: flex;
      flex: 1;
      align-items: center;

      @include respond(phone) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &--header {
    font-size: 2rem;
    flex: 1 0 85%;

    & > span {
    }
    @include respond(phone) {
      margin-top: 3rem;
    }
  }
}

.h1-section {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.quotebox {
  max-width: 100%;
  height: 43.5rem;
  border-radius: 0.7rem;
  background-color: #0bcdfc;

  &__img {
    width: 100%;
    height: auto;

    &--medium {
      max-width: 100%;
      height: auto;
    }
  }

  &__quote {
    position: absolute;
    color: $color-white;
    font-size: 10rem;
    height: 18.6rem;
    padding-left: 3rem;
    font-weight: 700;
  }

  &__text {
    position: relative;
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 2.4rem;
    height: 43.5rem;

    &--text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 3rem;
    }
  }
  &__bottom {
    font-size: $default-font-size;
    font-weight: 300;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
    padding: 3rem;

    &--institut {
      font-size: 1.2rem;
    }
    & > span {
      display: block;
    }
  }
}

.heading-third {
  &:not(:last-child) {
    padding: 0;
  }
}

.heading-fourth {
  &__text-box {
    font-size: 2rem;
    //background-image: linear-gradient(to bottom, #e8fdff, rgba(232, 253, 255, 0.21));
    padding: 0.5rem 1rem;
    //border: 1px solid $color-primary;

    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }
  }
}

.heading-fifth {
  height: 100%;
  width: auto;
}

//INFOGRAPH CIRCLE IMAGE

.group-image {
  height: 58.3rem;
  width: auto;
  display: flex;
  justify-content: center;
  justify-items: safe center;
  align-items: center;

  @include respond(tab-port) {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  &__box {
    position: relative;
    width: 34.2rem;
    height: 33.5rem;
    //needed padding calc
    //padding: 12.25rem;
    //2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))
    border: 1px dashed $color-primary-light; //see the line
    border-radius: 50%;

    @include respond(tab-port) {
      width: auto;
      height: auto;
    }
  }

  &__box > a {
    color: $color-primary-grey;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25rem;
    height: 2rem;
  }

  &__image {
    width: 100%;
  }
}

.deg0 {
  //margin-left: 2.5rem;
  transform: translate(12rem);
} // = half the width of the wrapper
.deg45 {
  //margin-left: 2.5rem;
  transform: rotate(38deg) translate(12rem) rotate(-38deg);
}
.deg90 {
  margin-left: -37.5%;
  transform: rotate(90deg) translate(17rem) rotate(-90deg);
}
.deg135 {
  margin-left: -75%;
  transform: rotate(135deg) translate(12rem) rotate(-135deg);
}
.deg180 {
  width: 15rem !important;
  margin-left: -45%;
  transform: rotate(180deg) translate(12rem) rotate(-180deg);
}
.deg225 {
  margin-left: -75%;
  transform: rotate(225deg) translate(12rem) rotate(-225deg);
}
.deg270 {
  margin-left: -35%;
  transform: rotate(270deg) translate(20.5rem) rotate(-270deg);
}
.deg315 {
  //margin-left: 15%;
  transform: rotate(315deg) translate(13rem) rotate(-315deg);
}

.paragraph {
  font-size: 2rem;
  padding-bottom: 3rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.reference-box {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__impressum {
  padding-top: 15vh;
  margin-top: 2.5%;
  &--header {
    font-size: 3.2rem;
    margin-bottom: 8rem;
  }

  &--sub {
    font-size: $default-font-size;
    margin-bottom: 2.4rem;
  }

  &--paragraph {
    font-size: $default-font-size;
    margin-bottom: 2rem;
  }

  &--list {
    font-size: $default-font-size;
    margin-bottom: 2rem;
  }
}

//BUTTONS

.inline-link:link,
.inline-link:visited {
  color: $color-primary;

  text-decoration: underline;
}
.inline-link:hover {
  color: $color-primary;
}

.inline-link:active {
  color: $color-primary;
}

.btn {
  &:link,
  &:visited {
    font-size: $default-font-size;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    position: relative;
    border-radius: 0.3rem;
    border: 0.1rem solid $color-primary;

    backface-visibility: hidden;

    @include respond(xphone) {
      font-size: 2.5rem;
      font-weight: 400;
    }

    @include respond(tab-port) {
      font-size: 2.2rem;
    }
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    transform: translateY(-3px);
    box-shadow: 0 0 2rem rgba($color-black, 0.2);
    transition: 0.2s;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0 1rem rgba($color-black, 0.2);
    transition: 0.1s;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }

  &--default {
    background-color: $color-primary-light;
    color: $color-primary;

    @include respond(phone) {
      display: none !important;
    }
  }

  &--bestellen {
    color: $color-white;
    background-color: $color-primary;
    width: auto;
    text-align: center;
    margin: 0 auto;

    @include respond(phone) {
      width: 100%;
    }
  }

  &--nav {
    color: $color-white;
    background-color: $color-primary;
    width: auto;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 1.25s;
    animation-fill-mode: backwards;
  }
}

//FOOTER

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: $default-font-size;
  background-color: $color-primary-grey;
  width: 100%;
  padding: 2rem 0;

  &__logo-box {
    @include respond(tab-port) {
      text-align: center;
    }

    @include respond(phone) {
      text-align: center;
    }
    &--link:link,
    &--link:visited {
      font-size: 3.2rem;
      font-weight: 700;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &--logotext-left {
      font-weight: 200;
    }
  }
}

.footer__navigation {
  height: 4.3rem;
  padding: 0.7rem;
}

.footer__list {
  list-style: none;
  text-align: right;

  @include respond(tab-port) {
    text-align: center;
  }

  @include respond(phone) {
    text-align: center;
  }
}

.footer__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.footer__link {
  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
  }
}

// MEDIA QUERIES
