//VARIABLES
$grid-width: 120rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 3rem;
$gutter-vertical-x-small: 1.5rem;
$gutter-horizontal: 3rem;
$gutter-none: 0;

//MIXIN

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//MIXIN MQ

@mixin respond($breakpoint) {
  @if $breakpoint == oldphone {
    @media only screen and (max-width: 20em) {
      @content; // 320px
    }
  }

  @if $breakpoint == xphone {
    @media only screen and (max-width: 23.5em) {
      @content; // 375px
    }
  }

  @if $breakpoint == l-phone {
    @media only screen and (max-width: 26.5625em) {
      @content; // 425px
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content; // 600px
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content; //900px
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 64em) {
      @content; //1024px
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content; // 1200px
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content; //1800+ px
    }
  }

  @if $breakpoint == min-mobile {
    @media only screen and (min-width: 64em) {
      @content; //<1024px?
    }
  }
}

//GRID SYSTEM

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-x-small;
    }
  }

  @include respond(laptop) {
    max-width: 100%;
  }

  @include respond(tab-port) {
    max-width: 100%;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(phone) {
        margin-right: $gutter-vertical-x-small;
      }

      @include respond(tab-port) {
        margin-right: $gutter-none;
        margin-bottom: $gutter-vertical-small;
      }

      @include respond(laptop) {
        margin-right: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-4-of-4 {
    width: calc(
      4 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }
}

//FOR FLEX AS PARENT DIMENSION 2

.flex-container {
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;

  //MEDIA QUERY
  @include respond(tab-port) {
    flex-direction: column;
  }

  //If parent flex before row
  & > div:first-child {
    margin-right: 0 !important;
  }
}
